body {
  width: 1280px;
  height: 720px;
}

#gallery-parent{
  position: absolute;
  width: 1280px;
  height: 600px;
  background: black;
  overflow: hidden;
}

.gallery-root{
  position: relative;
  height: 50px;
  overflow: hidden;
}

.gallery-item{
  position: absolute;
  width: 80px;
  height: auto;
  margin-left: 20px;
  color: white;
}

.gallery-root.__focused>.__focused {
  background: blue;
}




